body {
  font-family: 'Poppins', sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  
}

.sidebar {
  width: 20%;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.profile {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.nav ul {
  list-style: none;
  padding: 0;
}

.nav li {
  margin: 10px 0;
}

.nav a {
  text-decoration: none;
  color: #333;
}

/*comenzar*/
.main-content {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-bottom: 20px;
}

header {
  background-color: #3498db;
  color: white;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
} 

.main-header h1 {
  font-size: 24px;

}

.content {
  background-color: #bdc3c7; /* Fondo gris */
  padding: 20px;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-spinner {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


