body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
    color: #e78719;
}

.background {
    background-color: #383232;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.details {
    background-color: #e78719;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    text-align: left;
}


.post-details {
    text-align: left;
    margin-top: 20px;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    color: #002d73;
    text-decoration: none;
    border: 2px solid #002d73;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}
