/* Establece el modelo de caja para todos los elementos */
*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Asegura que el padding y border no aumenten el tamaño total del elemento */
}

/* Establece el diseño del cuerpo */
body {
    background-color: rgb(231, 229, 229); /* Fondo del cuerpo */
    display: flex; /* Usa el modelo de caja flexible para el cuerpo */
    flex-flow: row wrap; /* Permite que los elementos fluyan en filas, y se envuelvan si no caben */
    justify-content: left; /* Justifica los elementos a la izquierda */
    font-family: sans-serif; /* Fuente del texto */
}

.container {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: auto; /* Centra el contenedor horizontalmente */
    background: white; /* Fondo blanco */
    padding: 20px; /* Relleno interior del contenedor */
    border-radius: 6px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, .6); /* Sombra exterior */
}

h1 {
    text-align: center; /* Texto centrado */
    margin-bottom: 20px; /* Margen inferior */
}

#postDetails {
    margin-top: 20px; /* Margen superior */
    padding: 20px; /* Relleno interior */
    background-color: white; /* Fondo blanco */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

#postDetails img {
    max-width: 100%; /* Imágenes con ancho máximo del 100% del contenedor */
    height: auto; /* Altura automática para mantener la proporción */
    margin: 10px 0; /* Margen superior e inferior de las imágenes */
}

#postDetails p {
    text-align: justify; /* Alineación justificada del texto */
    line-height: 1.6; /* Altura de línea del párrafo */
}
