body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f9;
    color: #333;
}

header, footer {
    background-color: #333;
    color: white;
    width: 100%;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    margin-top: 1em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.5em 1em;
    display: block;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

nav ul li a:hover {
    background-color: #4CAF50;
    color: white;
}

main {
    padding: 2em;
    text-align: center;
    flex: 1;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 1em;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
#boton:hover {
    background-color: black;
    color: rgb(255, 255, 255);
}
#boton {
    padding: 10px 8px;  /* Añade espacio alrededor del texto dentro del botón */
    border-radius: 2em; /* Redondea las esquinas del botón */
    display: inline-block; /* Hace que el botón sea un elemento en línea */
    font-size: 14px;  /* Tamaño del texto del botón */
    font-weight: 300; /* Grosor del texto */
    position: absolute; /* Posiciona el botón de forma absoluta con respecto a su contenedor */
    left: 50%; /* Coloca el borde izquierdo del botón en el 50% del contenedor padre */
    top: 50%; /* Coloca el borde superior del botón en el 50% del contenedor padre */
    transform: translate(-50%, -50%); /* Centra el botón utilizando transformaciones */
    border: 2px solid black; /* Establece un borde de 2 píxeles de ancho y negro */
    z-index: 2; /* Coloca el botón sobre otros elementos (superposición) */
    transition: all 0.5s ease; /* Aplica una transición suave a todos los cambios de estilo durante 0.5 segundos */
}
#boton:hover {
    background-color: black; /* Cambia el color de fondo del botón a negro al pasar el ratón */
    color: white; /* Cambia el color del texto a blanco al pasar el ratón */
}
#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 380px;
}

#ad {
    position: relative;
    width: 1310px;
    height: 380px;
    overflow: hidden;
}

#clicktag {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    color: black;
    text-decoration: none;
}